@import "@/lib/colors";

.tag {
  display: inline-block;
  position: relative;

  color: $BACKGROUND;
  font-weight: 600;

  padding: 0.1em 0.625em;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: $PRIMARY;
    opacity: 0.8;
    border-radius: 0.3125em;
  }
}
