@import "@/lib/colors";

.heading {
  width: 80%;
  text-align: center;
  margin: 0 auto;

  font-size: 1.5em;
  font-weight: normal;
}

.clients {
  display: flex;
  width: 90%;
  margin: 0.625em auto -0.625em auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0;
  list-style-type: none;

  > li {
    margin: 0.625em;

    > a {
      display: inline-block;

      cursor: pointer;

      > img {
        max-width: 6.25em;
        max-height: 3.125em;
        vertical-align: middle;
      }
    }
  }
}

.note {
  width: 90%;
  margin: 1.25em auto 0 auto;

  text-align: center;
}
