@import "@/lib/colors";

.heading {
  width: max-content;
  margin: 9.375em auto 0 auto;

  > .preHeading {
    font-weight: normal;
    font-size: 1.5em;
    margin: 0;
  }

  > .mainHeading {
    color: $SECONDARY;
    font-weight: bold;
    font-size: 3em;
    margin: 0.2em 0 0 0;
  }

  > .subHeading {
    font-weight: normal;
    font-size: 1em;
    margin: 0;
  }
}

.fold {
  overflow: auto;
  min-height: 100vh;
}

.spacer {
  margin-bottom: 6.25em;
}
