@import "@/lib/colors";

.heading {
  width: 80%;
  text-align: center;
  margin: 0 auto;

  color: $SECONDARY;

  font-size: 1.5em;
  font-weight: normal;
}

.description {
  width: 80%;
  text-align: center;
  margin: 0.3125em auto 0 auto;
}

.socials {
  display: flex;
  width: 90%;
  margin: 1em auto -1em auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0;
  list-style-type: none;

  > li {
    margin: 1em;

    > a {
      display: inline-block;

      cursor: pointer;

      > img {
        max-width: 1.875em;
        max-height: 1.875em;
        vertical-align: middle;
      }
    }
  }
}
