@import "_fonts.module";
@import "_mixins.module";

$PRIMARY: #cde7f6;
$SECONDARY: #f9d0cd;
$BACKGROUND: #003049;
$HIGHLIGHT: #ffffff;

body {
  margin: 0;
  background-color: $BACKGROUND;

  color: $PRIMARY;
  font-family: Inter, -apple-system, Roboto, sans-serif, serif;
  font-size: 16px;

  @include mobile {
    font-size: 4vw;
  }
}
