@import "_fonts.module";

$PRIMARY: #CDE7F6;
$SECONDARY: #F9D0CD;
$BACKGROUND: #003049;
$HIGHLIGHT: #FFFFFF;

body {
  margin: 0;
  background-color: $BACKGROUND;

  color: $PRIMARY;
  font-family: Inter, -apple-system, Roboto, sans-serif, serif;
}
