@use "@/lib/colors" as *;
@use "@/lib/breakpoints" as *;
@use "@/lib/layout" as *;

.card {
  display: grid;
  grid-template-columns: 1.5rem minmax(0, 1fr);
  grid-template-areas:
    "logo name"
    "logo account";
  align-items: center;
  gap: 0.25rem 1rem;
  width: 100%;
  height: 100%;
  padding: 1.25rem 1.5rem;

  text-align: left;
  background-color: $CARD;
  border: 1px solid $RULE;
  border-radius: 0.75rem;
  cursor: pointer;

  @include hover {
    border-color: $BORDER;

    .account {
      color: $HIGHLIGHT;
    }
  }

  @include mobile {
    padding: 1rem;
  }
}

.logo {
  grid-area: logo;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

.name {
  grid-area: name;

  @include mono;
  color: $MUTED;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.account {
  grid-area: account;

  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
  overflow-wrap: anywhere;
}
