@import "@/lib/colors";

.error {
  display: flex;
  min-height: 100vh;
  padding: 6.25em;
  box-sizing: border-box;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-top: 0;
  margin-bottom: 1.25em;

  color: $SECONDARY;
}

.paragraph {
  margin: 0;

  a {
    color: $SECONDARY;
  }
}
