@use "@/lib/colors" as *;
@use "@/lib/breakpoints" as *;
@use "@/lib/layout" as *;

.description {
  margin-top: 1.5rem;

  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 300;

  @include mobile {
    font-size: 1.0625rem;
    line-height: 1.625rem;
  }
}

.back {
  display: inline-block;
  margin-top: 2rem;

  @include mono;
  color: $SECONDARY;
  font-size: 0.875rem;
  line-height: 1.25rem;

  @include hover {
    color: $HIGHLIGHT;
  }
}
