.heading {
  width: 80%;
  text-align: center;
  margin: 0 auto;

  font-size: 1.5em;
  font-weight: normal;
}

.socials {
  display: flex;
  width: 90%;
  margin: 0.625em auto -0.625em auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0;
  list-style-type: none;

  > li {
    margin: 0.625em;

    > a {
      display: inline-block;

      cursor: pointer;

      > img {
        max-width: 1.875em;
        max-height: 1.875em;
        vertical-align: middle;
      }
    }
  }
}

.link {
  width: 90%;
  margin: 1em auto 0 auto;
  text-align: center;

  > a {
    font-size: 0.75em;
    text-decoration: underline;

    > .icon {
      margin-left: 0.5em;

      max-width: 1em;
      max-height: 1em;
      vertical-align: -0.125em;
    }
  }
}
